.menu {
  position: relative;
  width: 90%;
  background-color: beige;
  display: flex;
  gap: 1rem;
  list-style: none;
  ul{
    list-style: none;
  }
}
.submenu {
  background-color: beige;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 30px;
  padding: 1px;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  margin-top: 1rem;
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 100%;
}
li {
  /* flex-shrink: 0; */
  /* display: inline-block; */
  background-color: cadetblue;
}
